extends layout/main

block content

  div(class="pres-card")
    div(class="pub-details")
      h2= publication.title
      p= publication.description
    div(class="pub-comments")
      h3 Comments
      for comment in publication.comments
        h4= comment.author
        p= comment.text